<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="">
     <h2>Team Name:<input type="text" name="team_name"></h2>
   </form>
 </body>
</html>


